.exe
.pm
.sm
src/dep/
.vscode
.idea

/cmake-build-debug/

/cmake-build-debug-visual-studio/CMakeFiles
/cmake-build-debug-visual-studio/CMakeCache.txt
/cmake-build-debug-visual-studio/*.pm
/cmake-build-debug-visual-studio/*.sm
/cmake-build-debug-visual-studio/main.exe.manifest
/cmake-build-debug-visual-studio/db.cbp
/cmake-build-debug-visual-studio/cmake_install.cmake
/cmake-build-debug-visual-studio/Makefile
